@import "tailwindcss";

@theme {
    --font-primary: "Be Vietnam Pro", sans-serif;

    --color-primary: #1b1d1f;

    --color-border-primary: #282b30;

    --color-text-primary: #d2d5da;

    --color-loading-primary: #6c727f;

    --color-check-color: #4e80ee;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

